<% provide(:title, @subject.name) %>
<div class="row">
  <aside class="span6">
    <section>
      Name : <%= @subject.name %><br>
      Description : <%= @subject.description %>
    </section> 
  </aside>
</div>