<% provide(:title, @exam.name) %>
<div class="row">
  <aside class="span6">
    <section>
      Name : <%= @exam.name %><br>
      Subject : <%= @exam.subject.name %><br>
      Total question : <%= @exam.total_question %><br>
      Limit time : <%= @exam.time_limit %>
    </section> 
  </aside>
</div>