<% provide(:title, 'All Questions') %>
<h1>All Questions</h1>

<div id="search">
  <%= render :partial => 'admin/questions/search' %>
</div>
<ul class="questions">
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
</ul>