<% provide(:title, @subject.name) %>
<div class="row">
  <aside class="span6">
    <section>
      Name : <%= @subject.name %><br>
      Description : <%= @subject.description %><br>
      Total question : <%= @subject.total_question %><br>
      Time limit : <%= @subject.time_limit %>
    </section> 
  </aside>
</div>