<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      Name : <%= @user.name %><br>
      Email : <%= @user.email %><br>
      Admin : <%= @user.admin %>
    </section> 
  </aside>
</div>

