<% provide(:title, 'All examinations') %>
<h1>All examinations</h1>
<div>
  <%= render :partial => 'examinations/choose_subject' %>
</div>
<%= will_paginate %>
<ul id="examinations" class="examinations">
  <% @examinations.each do |examination| %>
    <%= render examination %>
  <% end %>
</ul>
<%= will_paginate %>